/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
  combos {
    compatible = "zmk,combos";
    combo_layer3 {
      timeout-ms = <200>;
      key-positions = <38 39>;
      bindings = <&mo 3>;
    };
  };
  macros {
    win_ctlaltdel: win_ctlaltdel {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
          = <&macro_press &kp LEFT_CONTROL &kp LEFT_ALT>
          , <&macro_tap &kp DELETE>
          , <&macro_release &kp LEFT_CONTROL &kp LEFT_ALT>
          ;
    };
    win_lockscreen: win_lockscreen {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
          = <&macro_press &kp LEFT_GUI>
          , <&macro_tap &kp L>
          , <&macro_release &kp LEFT_GUI>
          ;
    };
    win_screenshot: win_screenshot {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
          = <&macro_press &kp LEFT_GUI &kp LSHIFT>
          , <&macro_tap &kp S>
          , <&macro_release &kp LEFT_GUI &kp LSHIFT>
          ;
    };
  };
  keymap {
    compatible = "zmk,keymap";
layer0 {
        bindings = <
        //----------.-------.-------.-------.-------.-------.        .-------.-------.-----------.---------.----------.-----------
          &kp TAB     &kp Q   &kp W   &kp E   &kp R   &kp T            &kp Y   &kp U   &kp I       &kp O     &kp P      &kp BSPC
        //----------.-------.-------.-------.-------.-------          -------.-------.-----------.---------.----------.-----------
          &kp ESC     &kp A   &kp S   &kp D   &kp F   &kp G            &kp H   &kp J   &kp K       &kp L     &kp SEMI   &kp ENTER
        //----------.-------.-------.-------.-------.-------          -------.-------.-----------.---------.----------.-----------
          &kp LSHFT   &kp Z   &kp X   &kp C   &kp V   &kp B            &kp N   &kp M   &kp COMMA   &kp DOT   &kp FSLH   &kp RSHFT
        //----------.-------.-------.-------.-------.-------          -------.-------.-----------.---------.----------.-----------
                               &kp LALT   &lt 1 SPACE   &mo 2        &mo 1   &lt 2 SPACE   &kp RCTRL
         //                  '----------'-------------'-------      -------'-------------'-----------'
        >;
      };layer1 {
        bindings = <
        //----------.--------.--------.--------.--------.--------.       .-----------.----------.----------.----------.-----------.----------
          &kp GRAVE   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5           &kp SQT     &kp AMPS   &kp LPAR   &kp RPAR   &kp ASTRK   &kp BSPC
        //----------.--------.--------.--------.--------.--------         -----------.----------.----------.----------.-----------.----------
          &kp LSHFT   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0           &kp MINUS   &kp EQUAL  &kp LBKT   &kp RBKT   &kp BSLH    &trans
        //----------.--------.--------.--------.--------.--------         -----------.----------.----------.----------.-----------.----------
          &kp LCTRL   &trans   &trans   &trans   &trans   &trans           &kp UNDER   &kp PLUS   &kp LBRC   &kp RBRC   &kp PIPE    &trans
        //----------.--------.--------.--------.--------.--------         -----------.----------.----------.----------.-----------.----------
                                          &kp LGUI   &none   &mo 2       &mo 1   &none   &kp RALT
        //                              '----------'-------'-------     -------'-------'----------'
        >;
      };layer2 {
        bindings = <
        //----------.---------.---------.--------.--------.---------.       .----------.-----------.-----------.-----------.-----------.-----------
          &kp TILDE   &kp F1    &kp F2    &kp F3   &kp F4   &kp F5            &kp LPAR   &kp RPAR    &kp LBKT    &kp RBKT    &kp MINUS   &kp DEL
        //----------.---------.---------.--------.--------.---------         ----------.-----------.-----------.-----------.-----------.-----------
          &kp TAB     &kp F6    &kp F7    &kp F8   &kp F9   &kp F10           &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT   &kp BSLH    &kp EQUAL
        //----------.---------.---------.--------.--------.---------         ----------.-----------.-----------.-----------.-----------.-----------
          &kp LCTRL   &kp F11   &kp F12   &trans   &trans   &kp SQT           &kp HOME   &kp PG_DN   &kp PG_UP   &kp END     &trans      &trans
        //----------.---------.---------.--------.--------.---------         ----------.-----------.-----------.-----------.-----------.-----------
                                         &kp LGUI   &kp LCTRL   &mo 2       &mo 1   &none   &kp RALT
        //                              '---------'-----------'-------     -------'-------'----------'
        >;
      };layer3 {
        bindings = <
        //----------.------------.------------.------------.------------.-------------.       .------.-----.-----.-----.-----.---------------
          &sys_reset &none        &none        &none        &none        &none                  &none &none &none &none &none &win_ctlaltdel
        //----------.------------.------------.------------.------------.-------------         ------.-----.-----.-----.-----.---------------
          &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4           &none &none &none &none &none &win_lockscreen
        //----------.------------.------------.------------.------------.-------------         ------.-----.-----.-----.-----.---------------
          &none      &none        &none        &none        &none        &none                  &none &none &none &none &none &win_screenshot
        //----------.------------.------------.------------.------------.-------------         ------.-----.-----.-----.-----.---------------
                                                               &kp LGUI   &none   &mo 2       &mo 1   &none   &kp RALT
        //                                                   '----------'-------'-------     -------'-------'----------'
        >;
        >;
      };
  };
};

